body {
	background-color: rgb(50, 205, 255);
}
.main {
	width: 1000px;
	margin: 0;
}
.top a {
	border: 0px solid;
	margin: 100px auto;
	color: white;
}
.top a:hover {
	text-decoration: none;
}
.nen {
	background-color: white;
	border: 0px solid;
	width: 1100px;
	margin: 10px auto;
	border-radius: 10px;
	padding: 30px;
}